<!DOCTYPE html>
<html lang="en">
<head>
    <title>Equipo 10 - Hackathon TocToc 2025- {% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div id="chat" class="">
        <div class="chat chat-start">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img
        alt="Tailwind CSS chat bubble component"
        src="https://images.scalebranding.com/angry-red-panda-logo-699ba7fb-0177-48de-8167-4a7a556fca1d.jpg" />
    </div>
  </div>
  <div class="chat-bubble">Hola! Soy el asistente virtual de TocToc. ¿Qué estás buscando?</div>
</div>
    </div>
<form id="chat-form" class="w-screen" method="post" enctype="multipart/form-data">
    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" id="message" name="message"/>
</form>
        </div>

    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>